<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixmycat.catchy.feature.member.query.mapper.MemberMapper">

    <select id="findById" resultType="com.sixmycat.catchy.feature.member.query.dto.response.MemberResponse">
        SELECT
        id,
        email,
        nickname,
        name,
        contact_number AS contactNumber,
        profile_image AS profileImage,
        social,
        status_message AS statusMessage
        FROM member
        WHERE id = #{id} AND deleted_at IS NULL
    </select>

    <select id="findByCatBirth" resultType="Long">
        SELECT
            id
        FROM member m
        JOIN cat c ON (m.id == c.member_id)
        WHERE MONTH(c.birth_date) = MONTH(CURDATE())
        AND DAY(c.birth_date) = DAY(CURDATE())
    </select>

</mapper>
