<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixmycat.catchy.feature.game.query.mapper.GameScoreMapper">

    <!-- 본인 점수 조회 -->
    <select id="findScoreByMemberId" parameterType="long" resultType="int">
        SELECT score
        FROM game_score
        WHERE member_id = #{memberId}
    </select>

    <!-- 내 랭크 조회 -->
    <select id="findRankByScore" parameterType="map" resultType="int">
        SELECT COUNT(*) + 1
        FROM game_score
        WHERE (score &lt; #{score})
        OR (score = #{score} AND created_at &lt; #{createdAt});
    </select>


    <!-- 내 랭크 조회 -->
    <select id="countAllUsers"  resultType="int">
        SELECT COUNT(*) FROM game_score;
    </select>

    <!-- 상위 랭커 조회  -->
    <select id="findTopRankers" parameterType="int" resultType="RankerDto">
        SELECT
            m.id,
            ranked.rank,
            m.nickname,
            ranked.score
         FROM (
            SELECT
                gs.member_id,
                gs.score,
                ROW_NUMBER() OVER (ORDER BY gs.score ASC, gs.created_at ASC) AS rank
            FROM game_score gs
            WHERE gs.score IS NOT NULL
         ) ranked
        JOIN member m ON ranked.member_id = m.id
        WHERE ranked.rank &lt;= #{limit}
    </select>
</mapper>