<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sixmycat.catchy.feature.block.query.mapper.BlockQueryRepository">

    <select id="findBlockedUsers" resultType="com.sixmycat.catchy.feature.block.query.dto.response.BlockResponse">
        SELECT
        b.blocked_id AS blockedId,
        m.nickname AS blockedNickname,
        m.profile_image AS profileImage,
        b.blocked_at AS blockedAt
        FROM block b
        JOIN member m ON b.blocked_id = m.id
        WHERE b.blocker_id = #{blockerId}
        ORDER BY b.blocked_at DESC
    </select>

</mapper>
